@using EntityLayer.Concrete
@model List<Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <a class="btn btn-outline-info" href="/Employee/AddEmployee/">Ekle</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>#</th>
                    <th>#</th>
                    <th>Ad Soyad</th>
                    <th>Pozisyon</th>
                    <th>Facebook Yolu</th>
                    <th>Instragram Yolu</th>
                    <th>Twitter Yolu</th>
                    <th>LinkedIn Yolu</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmployeeId</td>
                        <td><img src="@item.ImageUrl" alt="image" /></td>
                        <td>@item.Name</td>
                        <td>@item.Position</td>
                        <td>@item.FacebookUrl</td>
                        <td>@item.InstagramUrl</td>
                        <td>@item.TwitterUrl</td>
                        <td>@item.LinkedInUrl</td>
                        <td><a class="btn btn-outline-success" href="/Employee/UpdateEmployee/@item.EmployeeId">Güncelle</a></td>
                        <td><a class="btn btn-outline-danger" href="/Employee/DeleteEmployee/@item.EmployeeId">Sil</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>